[Desktop Entry]
Version=1.0
Type=Application
Name=VPN Linux Desktop Connector
Comment=Aplicación para conectar a OpenVPN
Exec=python3 $HOME/VPN-Desktop-Linux-Conector/VPN-Desktop-Linux-Conector.py
Icon=$HOME/VPN-Desktop-Linux-Conector/icons/ico-index.png
Terminal=false
Categories=Network;
StartupWMClass=VPN-Linux-Desktop-Connector
